---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Galeria de Imagenes">
<div class="2xl:mt-14 p-20 grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <video controls class=" grayscale h-auto max-w-full rounded-lg" src="/realizacion.webm" />
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/foto4.jpg" alt=""/>
        </div>
        <div>
            <video controls muted loop class="h-auto max-w-full rounded-lg grayscale" src="/SorBraulia.mp4" />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/SorBraulia.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/foto1.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/foto22.jpg" alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/foto3jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="foto23.jpg" alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://img.freepik.com/free-photo/close-up-beautiful-woman-with-make-up_23-2149190667.jpg?w=740&t=st=1686494867~exp=1686495467~hmac=12cf715d5395cd24a2aaace25f6d69b1365b18532d703dbeda2010f67b1cf9f6" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://www.freepik.com/free-photo/close-up-beautiful-model-posing-studio_16615272.htm#&position=33&from_view=collections" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://img.freepik.com/free-photo/close-up-beautiful-woman-wearing-pink-makeup_23-2149394104.jpg?size=626&ext=jpg&uid=R55421844" alt=""/>
        </div>
    </div>
</div>
<div class="2xl:mt-28">
</Layout>

</div>