---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Galeria de Imagenes">
<div class="2xl:mt-14 p-20 grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5874.jpg" />
        </div>
        <div>
            <img class=" h-auto max-w-full rounded-lg" src="/msg682293677-5875.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg grayscale" src="/msg682293677-5884.jpg" />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5878.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5877.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5879.jpg" alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5880.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5881.jpg" alt=""/>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5882.jpg6" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/msg682293677-5883.jpg" alt=""/>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/photo1695048716.jpeg" alt=""/>
        </div>
    </div>
</div>
<div class="2xl:mt-28">
</Layout>

</div>