<h1 class="md:text-7xl text-4xl sm:text-7xl text-white lg:text-8xl font-bold font-american text-center -mt-4 p-2">
    Kari Ziffer - Make-up Artist
  </h1>
  <div class='absolute   w-screen  top-0 -z-50 '>
  <video transition:persist class=' max-sm:h-screen  max-sm:w-screen max-sm:object-cover md:w-screen lg:  object-cover  grayscale ' autoplay loop muted src='/Home.webm'/>