<h1 class="md:text-7xl text-4xl sm:text-7xl text-white lg:text-8xl font-bold font-american text-center -mt-4 p-2">
    Kari Ziffer - Make-up Artist
  </h1>
  <div class='absolute sm:m-auto w-screen  top-0 -z-50 '>
  <video transition:persist class='h-screen lg:h-screen w-screen  object-cover max-sm:w-screen sm:left-[50%] grayscale ' autoplay loop muted src='/Home.webm'/>