---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from './Home.astro';
import Signature from '../components/Signature.astro';
import Bio from '../components/Bio.astro'
import LogoCloud from '../components/LogoCloud.astro'
import Footer from '../components/Footer.astro'
import Testimonio from '../components/Testimonio.astro';
---

<Layout title="Kz Mua">



<Home/>	
<div class="2xl:mt-[1000px] lg:mt-[550px] xl:mt-[700px] 2xl:-mb-24 md:mt-[450px] mt-96 max-sm:mt-[800px]">

	<Signature/>
</div>
<div class="mt-10">

	<Bio/>
</div>
<Testimonio/>

<LogoCloud/>


</Layout>
