---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Planes">
<div class="font-montserrat-300 mt-20 p-10 bg-[#ED00000]">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
      <div class="flex flex-col text-center gap-4 bg-[#F2DAC4] rounded-lg shadow-lg hover:cursor-pointer hover:-translate-y-5 transition-all">
        <h1 class="flex justify-center text-4xl font-Sunday text-[#252525] bg-[#F28E13] px-2 py-4 rounded-tl-lg rounded-tr-lg tracking-widest">
          Básico
        </h1>
        <span class="mt-5 text-lg text-gray-700 line-through">
          $12999
        </span>
        <span class="flex justify-center text-4xl uppercase font-extrabold text-gray-900">
          $9999
        </span>
        <ul class="flex flex-col items-center gap-4 px-2 py-8">
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Maquillaje de calidad.
            </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Trabajo con productos nacionales y de primera calidad.      </li>
          <li class="flex items-center gap-2">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-red-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                clipRule="evenodd"
              />
            </svg>
            Garantizo su durabilidad, el maquillaje permanece intacto más de 10 horas sin problema.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-red-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                clipRule="evenodd"
              />
            </svg>
            Preparación y acondicionamiento profundo de la piel.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-red-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                clipRule="evenodd"
              />
            </svg>
            Aplico pestañas postizas.
                  </li>
        </ul>
        <div class="mb-6">
         <a href='https://wa.me/+5491123984132?text=Me%20interesa%20tu%20servicio%20Basico'>
          <button class="bg-[#D90B1C] hover:bg-[#F27E63] transition-colors text-white px-6 py-2 rounded-lg">
            
            Me Interesa
          </button>
         </a>
        </div>
      </div>
      <div class="flex flex-col text-center gap-4 bg-[#F2DAC4] rounded-lg shadow-lg hover:cursor-pointer hover:-translate-y-5 transition-all">
        <h1 class="flex justify-center text-4xl font-Sunday text-[#252525]] bg-[#F28E13] px-2 py-4 rounded-tl-lg rounded-tr-lg tracking-widest relative">
          Fiesta
          <span class="absolute -bottom-20 -left-4 text-sm rotate-90 bg-[#bf3676] p-2 rounded-r-lg">
            Recomendado
          </span>
        </h1>
        <span class="mt-5 text-lg text-gray-700 line-through">
          $19999
        </span>
        <div class="flex items-center justify-center">
          <span class="flex px-2 text-4xl uppercase font-extrabold text-gray-900">
            <span class="text-lg">$</span>14999
          </span>
          
        </div>
        <ul class="flex flex-col items-center gap-4 px-2 py-8">
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Maquillaje de calidad HD dando un efecto de piel perfecta para fotos y filmaciones.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Trabajo con productos importados y de primera línea a nivel mundial.
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Garantizo su durabilidad, el maquillaje permanece intacto más de 10 horas sin problema.     </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-red-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                clipRule="evenodd"
              />
            </svg>
            Preparación y acondicionamiento profundo de la piel.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-red-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                clipRule="evenodd"
              />
            </svg>
            Aplico pestañas postizas.
          </li>
        </ul>
        <div class="mb-6">
         <a href='https://wa.me/+5491123984132?text=Me%20interesa%20tu%20servicio%20para%20Fiesta'>
          <button class="bg-[#D90B1C] hover:bg-[#F27E63] transition-colors text-white px-6 py-2 rounded-lg">
            
            Me Interesa
          </button>
         </a>
        </div>
      </div>
      <div class="flex flex-col text-center gap-4 bg-[#F2DAC4] rounded-lg shadow-lg hover:cursor-pointer hover:-translate-y-5 transition-all">
        <h1 class="flex justify-center text-4xl font-Sunday text-[#252525] bg-[#F28E13]  px-2 py-4 rounded-tl-lg rounded-tr-lg tracking-widest">
          Casamiento
        </h1>
        <span class="mt-5 text-lg text-gray-700 line-through">
          $32500
        </span>
        <div class="flex items-center justify-center">
          <span class="flex px-2 text-4xl uppercase font-extrabold text-gray-900">
            <span class="text-lg">$</span>25000
          </span>
          
        </div>
        <ul class="flex flex-col items-center gap-4 px-2 py-8">
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Maquillaje de calidad HD dando un efecto de piel perfecta para fotos y filmaciones.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Garantizo su durabilidad, el maquillaje permanece intacto más de 10 horas sin problema.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Trabajo con productos importados y de primera línea a nivel mundial.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Preparación y acondicionamiento profundo de la piel.      </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clipRule="evenodd"
              />
            </svg>
            Aplico pestañas postizas.
                  </li>
        </ul>
        <div class="mb-10">
         <a href='https://wa.me/+5491123984132?text=Me%20interesa%20tu%20servicio%20para%Casamiento'>
          <button class="bg-[#D90B1C] hover:bg-[#F27E63] hover:transition-colors font-montserrat text-white px-6 py-2 rounded-lg">
            
            Me Interesa
          </button>
         </a>
        </div>
      </div>
    </div>
    
        </div>
</Layout>