<div class=" p-16  shadow-xl xl:m-52 xl:mt-[100px] lg:m-16 max-sm:m-8 ">
    <div class=""></div>
    <div class="lg:mt-14  max-sm:-m-4 max-sm:p-1  lg:w-fit max-sm:w-auto  max-sm:tracking-tight">
        <span class="max-sm:text-left  max-sm:tracking-normal max-sm:text-base text-center text-base rounded-full bg-transparent sm:tracking-wide lg:w-fit font-montserrat tracking-widest "> Karina Ziffer es una maquilladora profesional exitosa con más de 15 años de experiencia en la industria de la belleza. Nacida y criada en la Ciudad de Buenos Aires, Karina siempre ha tenido una pasión por el arte y la creatividad, y encontró su pasión en el mundo del maquillaje.

Después de graduarse de la escuela de belleza, Karina comenzó a trabajar en una tienda de maquillaje de renombre en Manhattan, donde rápidamente se convirtió en una de las artistas de maquillaje más solicitadas. <br /> <br /> Su habilidad para crear looks únicos y personalizados para cada cliente le valió una reputación envidiable en la industria, y pronto comenzó a recibir solicitudes de clientes de todo el mundo.

Con el tiempo, Karina se convirtió en una de las maquilladoras preferidas por celebridades y modelos, trabajando en las pasarelas más importantes de la moda y colaborando con importantes marcas de maquillaje en la creación de nuevas líneas de productos. Su técnica meticulosa y su enfoque personalizado la han llevado a ser solicitada por muchos clientes de la industria del entretenimiento, y ha trabajado con algunas de las estrellas más grandes de Hollywood.

Karina ha ganado varios premios por su trabajo, incluyendo el Premio de Excelencia en Maquillaje Profesional en los Premios de la Industria de la Belleza de Nueva York. También ha sido invitada como maquilladora experta en programas de televisión y ha sido entrevistada por revistas de belleza y moda de renombre.

Actualmente, Karina es propietaria de su propia empresa de maquillaje y ofrece servicios personalizados tanto para clientes privados como para eventos importantes, como bodas y sesiones fotográficas. Su pasión y dedicación por el arte del maquillaje han llevado a Karina a ser una de las maquilladoras más respetadas y reconocidas de la industria.</span>
    </div>
    
</div>