
    <div class="flex justify-center p-4 ">
      <nav class=" ">
        <ul class=" text-[#8f8f85] flex  text-base mx-6 p-1 gap-4 font-montserrat">
          <li class="">
            <a transition:animate="slide" href="/"
              class="hover:ring-2 ring-offset-purple-300	 hover:bg-[#60397f] transition-colors  rounded-lg p-1.5"
            
            >
              Home
            </a>
          </li>
          <li>
            <a href="/Portfolio"
              class="link hover:text-[#60397f] transition-all  rounded-lg p-1.5"
             
            >
              Portfolio
            </a>
          </li>
        </ul>
      </nav>
   <slot/>
