<div>
    <div class="max-sm:hidden bg-white py-24 sm:py-32">
<div class="mx-auto max-w-7xl px-6 lg:px-8">
<h2 class="text-center text-lg font-semibold leading-8 text-gray-900 mb-10">Las marcas que uso</h2>
<div class="  flex flex-row gap-8 justify-center items-center">
  <img class="hover:-translate-y-2 transition-all" src="https://seeklogo.com/images/L/lancome-paris-logo-1B93CA9441-seeklogo.com.png" alt="Lancôme" width="158" height="38"/>
  <img class="hover:-translate-y-2 transition-all" src="https://seeklogo.com/images/M/MAC_Cosmetics-logo-B1FCBA71E6-seeklogo.com.png" alt="M.A.C" width="158" height="38"/>
  <img class="hover:-translate-y-2 transition-all w-auto h-10" src="https://seeklogo.com/images/L/Loreal_Paris-logo-02419419F0-seeklogo.com.png" alt="Loreal" />
<img class="hover:-translate-y-2 transition-all" src="https://www.kindpng.com/picc/m/229-2294134_maybelline-fit-me-logo-hd-png-download.png" alt="Maybelline Logo Png - Maybelline Logo, Transparent Png@kindpng.com" width={250} height={250}/>
{/*  <img class="hover:-translate-y-2 transition-all" src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48"/>
*/} </div>
</div>
</div>
</div>