---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {ViewTransitions} from 'astro:transitions';

---

<!doctype html>
<html  transition:animate="initial" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	
</head>
	<body>
		<main transition:animate="fade" >
			
			<Header/>
			</main>
		
		 </div> 
		 <slot />
		 <footer>
			 <Footer/>
			</footer>
	</body>
</html>
<style>

  @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');


	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@200;300;400;500&display=swap');


	@font-face {
		font-family: 'american';
		src: url(font/American.ttf);
	}
	@font-face {
		font-family: 'sfthin';
		src: url(font/Sfthin.otf);
	}
	@font-face {
		font-family: 'Sunday';
		src: url(font/Sunday.otf);
	}
	body{
		background-color: #e0dddd;
	}
</style>

